body {
	font-family: Helvetica, Arial, sans-serif;
	color: #3a3a3a;
	background: #efefef;
}

.container {
	background: #FFF;
	padding-left: 15px;
	max-width: 650px;
	margin: auto;
	border-radius: 3px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #272727;
}

footer a {
	color: #ccc;
}

p, ul, ol {
	font-size: 13px;
	line-height: 23px;
}

h1 {
	margin-bottom: 60px;
	font-size: 26px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	color: #333;
}

h2 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}

pre, code {
	font-family: Monaco, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
	font-size: 12px;
	color: #333;
	background: #eee;
	padding: 2px;
}

footer {
	color: #5d5d5d;
	border-top: 1px solid #eee;
	margin-top: 60px;
	text-align: center;
	font-weight: 500;
}

.comment-box {
	margin-top: 60px;
	border-top: 1px solid #eee;
}